asgiref
attrs
Django
django-autoslug
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-spectacular
inflection
jsonschema
jsonschema-specifications
packaging
pillow
psycopg2-binary
PyJWT
python-decouple
pytz
PyYAML
referencing
rpds-py
sqlparse
tzdata
uritemplate

